<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<test name="LegacyApp">
		<classes>
			<class name="co.bytemark.componenttests.workflow.orders.OrdersRegressionCases" />
		</classes>
	</test>
	
	<test name="2.0AppCases">
		<classes>
			<class name="co.bytemark.componenttests.workflow.orders.OrdersRegressionCases" />
		</classes>
	</test>
	
	
	<test name="4.0Appcases">
		<classes>
			<class name="co.bytemark.componenttests.workflow.orders.OrdersRegressionCases" />
		</classes>
	</test>
	
</suite>
